body {
    font-family: Arial, sans-serif;
    background-color: #282c34;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: rgb(255, 255, 255);
}

.container {
    background-color: #3b3f47;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 300px;
}

h1 {
    margin-bottom: 20px;
    color: #e4e4e4;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 1em;
    color: #c0bfbf;
}

input {
    padding: 10px;
    width: 278px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

button {
    padding: 10px;
    width: 100%;
    background-color: #ee6103;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: 0.3s;
}

button:hover {
    background-color: #b14f0e;
}

#resultado {
    margin-top: 20px;
    font-size: 1.2em;
    color: #e0e0e0;
}