*{
    background-color: #e4e3db;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 10vh;
}

button{
    padding: 10px 20px;
    font-size: 2vh;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

p {
    font-family: Arial, sans-serif;
    font-size: 2.5vh;
}

a{
    text-decoration: none;
    color: white;
}

/* PRIMEIRA PARTE */

#jogo{
    background-color: #1a4068;
}

#a{
    background-color: #1a4068;
}

#bi{
    background-color: #305e26;
}

#b{
    background-color: #305e26;
}

#media{
    background-color: #2886eb;
}

#c{
    background-color: #2886eb;
}

#gorjeta{
    background-color: #8400d1;
}

#d{
    background-color: #8400d1;
}

#hora{
    background-color: #ff008c;
}

#e{
    background-color: #ff008c;
}

/* SEGUNDA PARTE */
#f{
    background-color: #ff008c;
}

#filme{
    background-color: #ff008c;
}

#g{
    background-color: #305e26;
}

#frete{
    background-color: #305e26;
}

#h{
    background-color: #1a4068;
}

#pontuação{
    background-color: #1a4068;
}

#i{
    background-color: #ee6103;
}

#senha{
    background-color: #ee6103;
}

#j{
    background-color: #8400d1;
}

#roupa{
    background-color: #8400d1;
}

#k{
    background-color: #2886eb;
}

#moeda{
    background-color: #2886eb;
}

#l{
    background-color: #ff008c;
}

#adivinhação{
    background-color: #ff008c;
}