body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 10vh;
    background-color: #fdf7ec
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

h2{
    display: flex;
}

.text {
    margin: 13px;
    display: flex;
    flex-direction: column;
    align-items: space-around;
  }

/* PRIMEIRA PARTE */
.cardJOGO {
    width: 252px;
    height: 220px;
    background: white;
    border-radius: 30px;
    box-shadow: 5px 5px 10px #a39f8e;
    transition: 0.2s ease-in-out;
    display: inline-block;
    margin: 10px;
  }
  
  .imgJOGO{
    width: 100%;
    height: 63%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: linear-gradient(#418fe2, #1a4068);
    display: flex;
    align-items: top;
    justify-content: right;
  }

  .cardBI {
    width: 252px;
    height: 220px;
    background: white;
    border-radius: 30px;
    box-shadow: 5px 5px 10px #a39f8e;
    transition: 0.2s ease-in-out;
    display: inline-block;
    margin: 10px;
  }
  
  .imgBI{
    width: 100%;
    height: 63%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: linear-gradient(#6ad652, #305e26);
    display: flex;
    align-items: top;
    justify-content: right;
  }

  .cardMEDIA {
    width: 252px;
    height: 220px;
    background: white;
    border-radius: 30px;
    box-shadow: 5px 5px 10px #a39f8e;
    transition: 0.2s ease-in-out;
    display: inline-block;
    margin: 10px;
  }
  
  .imgMEDIA{
    width: 100%;
    height: 63%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: linear-gradient(#75b8ff, #2886eb);
    display: flex;
    align-items: top;
    justify-content: right;
  }

  .cardGORJETA {
    width: 252px;
    height: 220px;
    background: white;
    border-radius: 30px;
    box-shadow: 5px 5px 10px #a39f8e;
    transition: 0.2s ease-in-out;
    display: inline-block;
    margin: 10px;
  }
  
  .imgGORJETA{
    width: 100%;
    height: 63%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: linear-gradient(#bf50ff, #8400d1);
    display: flex;
    align-items: top;
    justify-content: right;
  }

  .cardHORA {
    width: 252px;
    height: 220px;
    background: white;
    border-radius: 30px;
    box-shadow: 5px 5px 10px #a39f8e;
    transition: 0.2s ease-in-out;
    display: inline-block;
    margin: 10px;
  }
  
  .imgHORA{
    width: 100%;
    height: 63%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: linear-gradient(#f87ec1, #ff008c);
    display: flex;
    align-items: top;
    justify-content: right;
  }

/* SEGUNDA PARTE */
.cardFILME {
    width: 252px;
    height: 220px;
    background: white;
    border-radius: 30px;
    box-shadow: 5px 5px 10px #a39f8e;
    transition: 0.2s ease-in-out;
    display: inline-block;
    margin: 10px;
  }
  
  .imgFILME{
    width: 100%;
    height: 63%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: linear-gradient(#f87ec1, #ff008c);
    display: flex;
    align-items: top;
    justify-content: right;
  }

  .cardFRETE {
    width: 252px;
    height: 220px;
    background: white;
    border-radius: 30px;
    box-shadow: 5px 5px 10px #a39f8e;
    transition: 0.2s ease-in-out;
    display: inline-block;
    margin: 10px;
  }
  
  .imgFRETE{
    width: 100%;
    height: 63%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: linear-gradient(#6ad652, #305e26);
    display: flex;
    align-items: top;
    justify-content: right;
  }

  .cardPONTUAÇÃO {
    width: 252px;
    height: 220px;
    background: white;
    border-radius: 30px;
    box-shadow: 5px 5px 10px #a39f8e;
    transition: 0.2s ease-in-out;
    display: inline-block;
    margin: 10px;
  }
  
  .imgPONTUAÇÃO{
    width: 100%;
    height: 63%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: linear-gradient(#418fe2, #1a4068);
    display: flex;
    align-items: top;
    justify-content: right;
  }

  .cardSENHA {
    width: 252px;
    height: 220px;
    background: white;
    border-radius: 30px;
    box-shadow: 5px 5px 10px #a39f8e;
    transition: 0.2s ease-in-out;
    display: inline-block;
    margin: 10px;
  }
  
  .imgSENHA{
    width: 100%;
    height: 63%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: linear-gradient(#ff9f60, #ee6103);
    display: flex;
    align-items: top;
    justify-content: right;
  }

  .cardROUPA {
    width: 252px;
    height: 220px;
    background: white;
    border-radius: 30px;
    box-shadow: 5px 5px 10px #a39f8e;
    transition: 0.2s ease-in-out;
    display: inline-block;
    margin: 10px;
  }
  
  .imgROUPA{
    width: 100%;
    height: 63%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: linear-gradient(#bf50ff, #8400d1);
    display: flex;
    align-items: top;
    justify-content: right;
  }

  .cardMOEDA {
    width: 252px;
    height: 220px;
    background: white;
    border-radius: 30px;
    box-shadow: 5px 5px 10px #a39f8e;
    transition: 0.2s ease-in-out;
    display: inline-block;
    margin: 10px;
  }
  
  .imgMOEDA{
    width: 100%;
    height: 63%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: linear-gradient(#75b8ff, #2886eb);
    display: flex;
    align-items: top;
    justify-content: right;
  }

  .cardADIVINHAÇÃO {
    width: 252px;
    height: 220px;
    background: white;
    border-radius: 30px;
    box-shadow: 5px 5px 10px #a39f8e;
    transition: 0.2s ease-in-out;
    display: inline-block;
    margin: 10px;
  }
  
  .imgADIVINHAÇÃO{
    width: 100%;
    height: 63%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: linear-gradient(#f87ec1, #ff008c);
    display: flex;
    align-items: top;
    justify-content: right;
  }

  .cardPALINDROMO {
    width: 252px;
    height: 220px;
    background: white;
    border-radius: 30px;
    box-shadow: 5px 5px 10px #a39f8e;
    transition: 0.2s ease-in-out;
    display: inline-block;
    margin: 10px;
  }
  
  .imgPALINDROMO{
    width: 100%;
    height: 63%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: linear-gradient(#75b8ff, #2886eb);
    display: flex;
    align-items: top;
    justify-content: right;
  }